services:
  web:
    build: .
    ports:
      - "5001:5001"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - PYTHONUNBUFFERED=1
      - SQLITE_DB_DIR=/app/database_data
      - SQLITE_DB_NAME=jugglefit.db
    env_file:
      - ./.env
    volumes:
      - .:/app
      - sqlite_data:/app/database_data
    command: python app.py
    restart: unless-stopped

volumes:
  sqlite_data: