 {% extends "utils/base.html" %}
{% block title %}Contribute - Software{% endblock %}
{% block content %}
<div class="route-page contribute-software">
    <div class="route-header">
        <h1 class="route-title">Contribute to Software</h1>
        <div class="route-description">
            <p>You can always create PR in the <a href="https://github.com/ofekraf/jugglefit_website">website repo</a>.<br> 
                We also manage tasks in ClickUp board as well as WhatsApp group.<br>
                If you are willing to help, reach us by email\instagram!</p>
        </div>
    </div>
</div>
{% endblock %} 