{% extends "base.html" %}
{% block title %}About{% if sub_page == 'rules' %} - Rules{% elif sub_page == 'previous_competitions' %} - Previous Competitions{% endif %}{% endblock %}
{% block content %}
    <div class="centered-content fade-in">
        {% if sub_page == None %}
            <h1>About JuggleFit</h1>
            <p>JuggleFit was founded to create a sport-juggling competition that’s motivating to practice, requires minimal preparation, is fun and enjoyable to watch, ensures the best juggler wins, and measures skill through control over specific tricks. Inspired by CrossFit’s challenge of defining athleticism, we set out to build a fair, exciting, and accessible juggling competition for everyone.</p>
            <p>Learn more about our <a href="{{ url_for('rules') }}">Rules</a> or explore <a href="{{ url_for('previous_competitions') }}">Previous Competitions</a>.</p>
        {% elif sub_page == 'rules' %}
            {% include 'rules.html' %}
        {% elif sub_page == 'previous_competitions' %}
            {% include 'previous_competitions.html' %}
        {% endif %}
    </div>
{% endblock %}