{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="centered-content">
        <h1>About JuggleFit</h1>
        <p>JuggleFit was founded to create a sport-juggling competition that’s motivating to practice, requires minimal preparation, is fun and enjoyable to watch, ensures the best juggler wins, and measures skill through control over specific tricks. Inspired by CrossFit’s challenge of defining athleticism, we set out to build a fair, exciting, and accessible juggling competition for everyone.</p>
    </div>
{% endblock %}
