{% extends "base.html" %}
{% block title %}Create My Own Path{% endblock %}
{% block content %}
    <div class="centered-content fade-in">
        <h1>Create Your Own JuggleFit Routine</h1>
        <form method="POST" action="{{ url_for('create_path') }}">
            <label for="workout_name">Workout Name:</label>
            <input type="text" id="workout_name" name="workout_name" placeholder="My awesome workout" class="workout-input" required><br>

            <div class="headers-container">
                <div class="header-label">Amount of Props:</div>
                <div class="header-label">Max Throw Height:</div>
            </div>

            <div class="sliders-container">
                <div class="slider-group left-slider">
                    <div id="props-slider" class="dual-slider"></div>
                    <!-- Hidden inputs to send values to Flask -->
                    <input type="hidden" id="min_props" name="min_props" value="3">
                    <input type="hidden" id="max_props" name="max_props" value="7">
                </div>
                <div class="slider-group right-slider">
                    <div id="height-slider" class="single-slider"></div>
                    <input type="hidden" id="max_height" name="max_height" value="3">
                </div>
            </div>

            <div class="values-container">
                <div class="slider-value" id="propsRangeValue">3 - 7</div>
                <div class="slider-value" id="maxHeightValue">3</div>
            </div>

            <div class="tricks-container">
                <div class="tricks-column">
                    <h3>Include Tricks:</h3>
                    <input type="checkbox" id="include_back_crosses" name="include_tricks" value="Back-Crosses" class="trick-checkbox">
                    <label for="include_back_crosses">Back-Crosses</label><br>
                    <input type="checkbox" id="include_shoulder" name="include_tricks" value="Shoulder" class="trick-checkbox">
                    <label for="include_shoulder">Shoulder</label><br>
                    <input type="checkbox" id="include_pirouette" name="include_tricks" value="Pirouette" class="trick-checkbox">
                    <label for="include_pirouette">Pirouette</label><br>
                </div>
                <div class="tricks-column">
                    <h3>Exclude Tricks:</h3>
                    <input type="checkbox" id="exclude_back_crosses" name="exclude_tricks" value="Back-Crosses" class="trick-checkbox">
                    <label for="exclude_back_crosses">Back-Crosses</label><br>
                    <input type="checkbox" id="exclude_shoulder" name="exclude_tricks" value="Shoulder" class="trick-checkbox">
                    <label for="exclude_shoulder">Shoulder</label><br>
                    <input type="checkbox" id="exclude_pirouette" name="exclude_tricks" value="Pirouette" class="trick-checkbox">
                    <label for="exclude_pirouette">Pirouette</label><br>
                </div>
            </div>

            <input type="submit" value="Create Routine" class="modern-button">
        </form>
    </div>

    <!-- Include noUISlider CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>
{% endblock %}