{% extends "base.html" %}
{% block title %}Create My Own Path{% endblock %}
{% block content %}
    <div class="centered-content fade-in">
        <h1>Create Your Own JuggleFit Routine</h1>
        <form method="POST" action="{{ url_for('create_path') }}">
            <label for="workout_name">Workout Name:</label>
            <input type="text" id="workout_name" name="workout_name" placeholder="My awesome workout" class="workout-input" required><br>

            <div class="sliders-container">
                <div class="slider-group">
                    <label for="min_props">Amount of Props:</label><br>
                    <input type="range" id="min_props" name="min_props" min="3" max="9" value="3" class="range-slider">
                    <span class="range-value" id="minPropsValue">3</span>
                    <span class="range-separator">-</span>
                    <input type="range" id="max_props" name="max_props" min="3" max="9" value="7" class="range-slider">
                    <span class="range-value" id="maxPropsValue">7</span>
                </div>
                <div class="slider-group">
                    <label for="max_height">Max Throw Height:</label>
                    <input type="range" id="max_height" name="max_height" min="3" max="15" value="3" class="range-slider">
                    <span class="range-value" id="maxHeightValue">3</span>
                </div>
            </div>

            <div class="tricks-container">
                <div class="tricks-column">
                    <h3>Include Tricks:</h3>
                    <input type="checkbox" id="include_back_crosses" name="include_tricks" value="Back-Crosses" class="trick-checkbox">
                    <label for="include_back_crosses">Back-Crosses</label><br>
                    <input type="checkbox" id="include_shoulder" name="include_tricks" value="Shoulder" class="trick-checkbox">
                    <label for="include_shoulder">Shoulder</label><br>
                    <input type="checkbox" id="include_pirouettes" name="include_tricks" value="Pirouette" class="trick-checkbox">
                    <label for="include_pirouettes">Pirouettes</label><br>
                </div>
                <div class="tricks-column">
                    <h3>Exclude Tricks:</h3>
                    <input type="checkbox" id="exclude_back_crosses" name="exclude_tricks" value="Back-Crosses" class="trick-checkbox">
                    <label for="exclude_back_crosses">Back-Crosses</label><br>
                    <input type="checkbox" id="exclude_shoulder" name="exclude_tricks" value="Shoulder" class="trick-checkbox">
                    <label for="exclude_shoulder">Shoulder</label><br>
                    <input type="checkbox" id="exclude_pirouettes" name="exclude_tricks" value="Pirouette" class="trick-checkbox">
                    <label for="exclude_pirouettes">Pirouette</label><br>
                </div>
            </div>

            <input type="submit" value="Create Routine" class="modern-button">
        </form>
    </div>
{% endblock %}