{% extends "utils/base.html" %}
{% block title %}Support JuggleFit{% endblock %}
{% block content %}
<div class="donation-page">
    <h1 class="text-center">Support JuggleFit</h1>
    <p class="donation-intro">
        Donations help us maintain and improve JuggleFit,<br>
        making sport-juggling more accessible and enjoyable for everyone<br>
    </p>

    <div class="donation-options">
        <div class="donation-option">
            <h2>Worldwide donation</h2>
            <p>Donate using GoGetFunding</p>
            <a href="https://gogetfunding.com/jugglefit/" class="donation-button" target="_blank">
                <i class="fas fa-gift"></i> GoGetFunding page
            </a>
        </div>

        <div class="donation-option">
            <h2>In Israel donation</h2>
            <p>Donate using Paybox</p>
            <a href="https://link.payboxapp.com/163BTxX8o7JuxLno8" class="donation-button" target="_blank">
                <i class="fas fa-gift"></i> Paybox Group
            </a>
        </div>
    </div>

    <div class="accounting-info">
        <p>Our accounting is published <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTpVRtCCBiM0DBvI5Q1EZWA7xJKOnvUeRLIwjZIbN_UFQCVB1ftESK4wCEZh_l2xTxxNJWzD1jVSPES/pubhtml" target="_blank">here</a></p>
    </div>
</div>
{% endblock %} 