{% extends 'base.html' %}
{% block title %}Your Own Path{% endblock %}
{% block content %}
<div class="container">
    <h1 class="title">Generated Juggling Routine</h1>
    <p class="subtitle">Here is your randomly generated juggling routine based on the selected criteria.</p>

    <h2 class="course-name">Course Name: {{ workout_name }}</h2>
    {% if tricks %}
        <div class="tricks-list">
            {% for props, trick_list in tricks %}
                <h2 class="props-header">{{ props }}-prop Tricks</h2>
                <ul class="trick-items">
                    {% for trick in trick_list %}
                        <li class="trick">{{ trick }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-tricks">No tricks were generated. Try adjusting your criteria.</p>
    {% endif %}
    
    <a href="{{ url_for('create_path') }}" class="btn btn-primary">Generate New Routine</a>
</div>
{% endblock %}