{% block content %}
<div class="route-page">
    <div class="route-header">
        <h1 class="route-title">{{ route.name }}</h1>
    </div>

    <div class="route-container">
        <div class="route-content">
            <div class="route-sections">
                {% set grouped_tricks = {} %}
                {% for trick in route.tricks %}
                    {% if trick.props_count not in grouped_tricks %}
                        {% set _ = grouped_tricks.update({trick.props_count: []}) %}
                    {% endif %}
                    {% set _ = grouped_tricks[trick.props_count].append(trick) %}
                {% endfor %}
                
                {% for props_count, tricks in grouped_tricks.items() %}
                <div class="prop-section">
                    <div class="prop-color-bar" data-props="{{ props_count }}" data-prop-type="{{ route.prop.value }}">
                        <div class="prop-count">
                            <div class="prop-count-text">X</div>
                            <div class="prop-count-text">{{ props_count }}</div>
                        </div>
                    </div>
                    <div class="trick-container">
                        {% for trick in tricks %}
                        <div class="prop-details-frame">
                            <div class="trick-name">{{ trick.name }}</div>
                            {% if trick.comment %}
                            <div class="trick-comment">{{ trick.comment }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}